nav {
    display: flex;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
  }

footer {
    min-height: 10vh;
    background: #bbbbbb;
}

header {
    min-height: 50px;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 10px solid red;
    width: 100vw;
    overflow-y: hidden;
}

.general-nav {
    font-size: 1.2dvw;
    color: white;
    background-color: red;
    text-decoration: none;
}

.mobile-nav {
    font-size: 6dvw;

}

.nav-button {
    margin: 10px 10px 10px 10px;
    padding: 200px 15px 200px 15px;
    width: 6vw;
}

.slanted {
    transform: rotate(-15deg);
}

.counter-slanted{
    transform: rotate(15deg);
    padding-left: calc();
}

.nav-button-container{
    height: inherit;
    overflow: hidden;
    align-items: center;
    width: max-content;
    padding: 0px 2vw 0px 2vw;
}

.dropdown-button-container{
    background-color: red;
    width: 30vw;
    height: inherit;
    display: none;
}

.dropdown-manager{
    display: none;
    position: absolute;
    top: 14vh;
    background-color: white;
    min-width: 30vw;
    z-index: 1;
    outline: red solid 2px;
  }

.dropdown-manager hr{
    border-color: red;
}

.dropdown-button-container:hover .dropdown-manager{
    display: block;
}

@media only screen and (max-width: 600px){
    .nav-button-container{
        display: none;
    }
    .dropdown-button-container{
        display: flex;
    }
}

.header-logo {
    height: auto;
    max-height: 20vh;
}

.bg-container{
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 35vh;
    right: 10vw;
}

.spinny-triangle{
    animation: spin 8s linear infinite;
    height: 200px;
    width: auto;
    overflow-y: hidden;
    opacity: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.basic-article{
    margin: 2vh 2vw 2vh 2vw;
}

.main-title{
    height: 5vh;
    width: auto;
    font-size: 8vh;
    justify-self: center;
}

.words{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.basic-borders{
    margin: 1vh 1vw 1vh 1vw;
}

.work-container{
    display: flex;
    flex-direction: column;
    width: 25dvw;
}

@keyframes popin {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(20vw);
    }
}

.pop-up{
    animation: popin linear normal;
    animation-timeline: view();
    animation-range: contain;
}